<div class="content-wrapper buffer-both text-center">
  <div class="buffer-both">
    <h1 class="title-medium">Все хэштеги с именем: <%=  %></h1>
  </div>

  <%#Блок со списком вопросов к пользователю%>
  <div class="column-3-4">
    <div class="user-questions buffer-both">
      <div class="questions-list">
        <%#Обратите внимание, как мы делаем цикл по всем вопросам,%>
        <%#точно также, как мы делали циклы в ruby%>
        <% @questions.each do |question| %>
            <%#Мы рисуем здесь для кажого вопроса в списке вопросов%>
            <%#фрагмент (паршал), передавая в него текущий вопрос%>
            <%#Это очень похоже на вызов метода в ruby%>
            <%= render partial: 'questions/question', object: question %>
        <% end %>
      </div>
    </div>
  </div>
</div>
